{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link href="{% static 'bs/css/user_mypage.css' %}" rel="stylesheet">
<link href="{% static 'bs/css/user_reserve.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}호텔관리{% endblock %}

{% block contents %}
{% block script%}
<script src="{% static 'bs/js/user_reserve.js' %}"></script>
{% endblock %}

<i class="fa fa-bars"></i>

<div id="side_nav" class="side_nav">
    <span class="nav_close">&times;</span>
    <div class="side_menu" id="user_profile">{{user.user_id}}</div>
    <a class="side_menu" href="{% url 'user_info' %}">회원정보</a>
    <a class="side_menu" href="{% url 'pw_change' %}">비밀번호 변경</a>
    <a class="side_menu" id='self' href="{% url 'history_hotel' %}">호텔관리</a>
    <a class="side_menu" href="{% url 'history_vacation' %}">여행지 관리</a>
</div>


<div class="con2">
    <div class="contents">
        <h5 id="title">마이페이지 > 호텔관리</h5>
        <table class="reserves">
            <!-- <tr> -->
            <!--sample: review-->
            <!-- <td class="reserve hotel_reserve">
                    <img src="{% static 'img/hotel.png' %}">
                    <div class="info_container">
                        <label class="reserve_name">{{ hotel.BIZPLC_NM }}</label>
                        <label class="reserve_adress">{{ hotel.REFINE_ROADNM_ADDR }}</label>
                        <label class="review_count">
                            <span>{##}숙소</span>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>{##}My</span>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </label>

                        <ul class="reserve_info">
                            <li class="left">인원</li>
                            <li class="right">인</li>
                            <li class="left">가격</li>
                            <li class="right">원</li>
                            <li class="left">체크인</li>
                            <li class="right">2022/03/25 13:00</li>
                            <li class="left">체크아웃</li>
                            <li class="right">2022/03/27 13:00</li>
                        </ul>

                    </div>
                </td> -->
            {% for hotel_reserve in hotel_reserves %}
            <tr>
                <td class="reserve">
                    {% if hotel_reserve.hotel_reserve_enddate < today %}
                    <div class="review_modal">
                        <div class="after_visit comment_box">
                            <span class="review_cancel">&#10006;</span>
                            <form name="reivew" class="form-group" method="POST">
                                <div id="review_hotel_name">{{ hotel_reserve.room_id.hotel_id.BIZPLC_NM }}</div>
                                {% csrf_token %}
                                <input type="hidden" id=hotel_id name=hotel_id
                                    value="{{ hotel_reserve.room_id.hotel_id_id }}">
                                <!--views 에 어떤호텔인지 인자를 넘겨주기 위한 값입니다. -->
                                <div class="modal_star_box">
                                {% for i in "x"|rjust:"5" %}
                                <i class="fas fa-star reviewstar no_star"></i>
                                <!-- <i class="fas fa-star no_star reviewstar"></i> -->
                                {% endfor %}
                                </div>
                                <textarea id=review name=review class="form-control review_comment"></textarea>
                                <input type="hidden" id=rate name=rate class="form-control review_comment" min="1"
                                    max="5">
                                <input type="submit" value="리뷰등록">
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    <img
                        style="background-image: url('/media/{{ hotel_reserve.room_id.hotel_id.hotel_image.hotel_image_file_path }}');">
                    <div class="info_container">
                        <a id="to_detail" href="{% url 'hotel_detail' hotel_reserve.room_id.hotel_id_id %}"><label
                                class="reserve_name">{{ hotel_reserve.room_id.hotel_id.BIZPLC_NM }}</label></a>
                        <label class="reserve_adress">{{ hotel_reserve.room_id.hotel_id.REFINE_ROADNM_ADDR }}</label>
                        <label class="review_count">
                            <div>
                                <span>호텔평점{{ hotel_reserve.room_id.hotel_id.hotel_rate }}</span>
                                {% for i in "x"|rjust:"5" %}
                                {% if hotel_reserve.room_id.hotel_id.hotel_rate >= forloop.counter %}
                                <i class="fas fa-star"></i>
                                {% else %}
                                <i class="fas fa-star no_star"></i>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <!-- <div>
                                <span>내 평점{{ hotel_reserve.room_id.hotel_id.hotel_image_title }}</span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div> -->
                        </label>
                        <ul class="reserve_info">
                            <li class="left">인원</li>
                            <li class="right">{{ hotel_reserve.hotel_reserve_people }}인</li>
                            <li class="left">가격</li>
                            <li class="right">{{ hotel_reserve.hotel_reserve_price }}원</li>
                            <li class="left">예약일시</li>
                            <li class="right">{{ hotel_reserve.hotel_reserve_startdate}} ~
                                {{ hotel_reserve.hotel_reserve_enddate }}</li>
                            <li class="left">객실타입</li>
                            <li class="right">{{ hotel_reserve.room_id.room_type }}</li>
                        </ul>
                    </div>
                    {% if hotel_reserve.hotel_reserve_enddate < today %}
                    <input type="button" value="리뷰작성" class="review_modal_open">
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
            <!-- </tr> -->
        </table>


        <div class="container mt-1">
            <ul class="pagination justify-content-center">
                {# << 표시 여부 #}
                {% if hotel_reserves.number > 1 %}
                <li class="page-item"><a class="page-link" href="?page=1" title="처음"><i
                            class='fas fa-angle-double-left'></i></a></li>
                <li class="page-item"><a class="page-link" href="?page={{ hotel_reserves.previous_page_number }}"
                        title="이전"><i class='fas fa-angle-left'></i></a></li>
                {% endif %}

                {# 페이징 안의 '숫자' 표시 #}
                {% if hotel_reserves.paginator.num_pages > 1 %}
                {% for p in page_range %}
                {% if hotel_reserves.number != p %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% else %}
                <li class="page-item active"><a class="page-link" href="#" title="현재페이지">{{ p }}</a></li>
                {% endif %}
                {% endfor %}
                {% endif %}

                {# > 표시 #}
                {% if hotel_reserves.paginator.num_pages > end_page %}
                <li class="page-item"><a class="page-link" href="?page={{ hotel_reserves.next_page_number }}"
                        title="다음"><i class='fas fa-angle-right'></i></a></li>
                {% endif %}

                {# >> 표시 #}
                {% if hotel_reserves.number < hotel_reserves.paginator.num_pages %}
                <li class="page-item"><a class="page-link" href="?page={{ hotel_reserves.paginator.num_pages }}"
                        title="마지막"><i class='fas fa-angle-double-right'></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}