{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<script src="{% static 'bs/js/ho_main.js' %}"></script>
<script src="{% static 'bs/js/va_main.js' %}"></script>
{% endblock %}
{% block title %}홈페이지{% endblock %}
{% block contents %}
    <section class="page"> <!-- 메인 이미지 및 메인 검색창-->
        <div class="main_image"> <!--메인 이미지-->
            <div class="main_search"> <!-- 메인 검색 -->
                <div class="menu_select">
                    <ul class="menu_icon">
                        <ul>
                            <a href="#" onclick="search_hotel()">
                                <li><i class="fas fa-hotel"></i></li>
                                <li>호텔</li>
                            </a>
                        </ul>
                        <ul>
                            <a href="#" onclick="search_vacation()">
                                <li><i class="fas fas fa-plane"></i></li>
                                <li>여행지</li>
                            </a>
                        </ul>
                    </ul>
                </div>
                <!-- 호텔 검색 -->
                <form method="POST">
                    {% csrf_token %}
                    <!-- 호텔 검색창 -->
                    <input type="hidden" name="hotel_type" id="hotel_type" value="hotel_type">
                    <div class="hotel_search" id="hotel_search">
                        <ul>
                            <li>
                                <a onclick="search_location()" class="location" id="location">
                                    <i class="fas fa-map-marker-alt" class="map"></i><sapn id="lo_text">위치</sapn>
                                    <input type="hidden" id="lo_text" name="SIGUN_NM" value="">
                                </a>
                            </li>
                            <ul>
                                <a onclick="get_date()" class="get_date" id="get_date">
                                    <li class="chk_date">
                                        <i class="fas fa-calendar-alt"></i><span id="chk_in">체크인</span>
                                    </li>
                                    <li><span id="chk_out">체크아웃</span></li>
                                    <input type="hidden" value="{{ check_in }}" name="start_date">
                                    <input type="hidden" value="{{ check_out }}" name="end_date">
                                </a>
                            </ul>
                            <li class="choice_people" onclick="choice_people()">
                                <a><i class="fas fa-user-alt"></i><span class="people">1명</a></span>
                            </li>
                            <li class="hotel_submit"><input type="submit" class="chk_ho_form" value="검색"></li>
                        </ul>
                    </div>
                    <!-- 호텔 상세선택창 -->
                    <!-- 지역 선택 -->
                    <ul class="hotel_location" id="hotel_location">
                        {% for place in hotel_places %}
                        <li id="{{ place.SIGUN_NM }}" class="hotel_lo_select" onclick="hotel_lo_select(this)">{{ place.SIGUN_NM }}</li>
                        {% endfor %}
                    </ul>
                    <!-- 체크인/체크아웃 선택 -->
                    <div class="date_pick" id="date_pick">
                        <div>
                            <div class="input-daterange reserve_date"><input type="text" name="daterange" id="datepicker" readonly /> 
                            <input type="button" value="적용" name="date_choice">
                            </div>
                        </div>
                    </div>
                    <!-- 인원선택 -->
                    <div class="reserve_people d-flex">
                        <div class="hotel_reserve_people">
                        <!-- 인원수 감소 -->
                        <button type="button" data-quantity="minus" data-field="hotel_reserve_people">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        </div>
                        <!-- 인원수 -->
                        <input class="input-group-field hotel_reserve_people" type="number" name="hotel_reserve_people" max="1" value="1" readonly/>
                        <!-- 인원수 증가 -->
                        <div class="hotel_reserve_people">
                        <button type="button" data-quantity="plus" data-field="hotel_reserve_people">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        </div>
                    </div>
                </form>
                <!-- 여행지 검색 -->
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="vacation_type" id="vacation_type" value="vacation_type">
                    <div class="vacation_search" id="vacation_search" style="display: none;"> 
                        <ul>
                            <li>
                                <a onclick="search_va_location()" class="location" id="location">
                                    <i class="fas fa-map-marker-alt" class="map"></i><sapn id="va_lo_text">위치</sapn>
                                </a>  
                            </li>
                            <li>
                                <a onclick="vacation_get_date()" class="vacation_get_date" id="vacation_get_date">
                                    <i class="fas fa-calendar-alt"></i><span id="vacation_date">예약날짜</span>
                                    <input type="hidden" value="{{ vacation_date }}" name="vacation_date">
                                </a>
                            </li>
                            <li>
                                <a onclick="vacation_choice_people()" class="location" id="location">
                                    <i class="fas fa-user-alt"></i><span class="va_people">1명</span></a>
                            </li>
                            <li class="hotel_submit"><input type="submit" class="chk_va_form" value="검색"></li>
                        </ul>
                    </div>
                    <!-- 여행지 상세선택창 -->
                    <!-- 지역 선택 -->
                    <ul class="vacation_location" id="vacation_location">
                        {% for place in vacation_places %}
                        <li id="{{ place.SIGUN_NM }}" class="vacation_lo_select" onclick="vacation_lo_select(this)">{{ place.SIGUN_NM }}</li>
                        <input type="hidden" id="va_lo_text" name="SIGUN_NM" value="">
                        {% endfor %}
                    </ul>
                    <!-- 체크인/체크아웃 선택 -->
                    <div class="vacation_date_pick" id="vacation_date_pick">
                        <div>
                            <div class="input-daterange reserve_date"><input type="text" name="va_daterange" id="datepicker" readonly /> 
                            <input type="button" value="적용" name="va_date_choice">
                            </div>
                        </div>
                    </div>
                    <!-- 인원선택 -->
                    <div class="va_reserve_people reserve_people d-flex">
                        <div class="vacation_reserve_people">
                        <!-- 인원수 감소 -->
                        <button type="button" data-quantity="minus" data-field="vacation_reserve_people">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        </div>
                        <!-- 인원수 -->
                        <input class="input-group-field vacation_reserve_people" type="number" name="vacation_reserve_people" max="1" value="1" readonly/>
                        <!-- 인원수 증가 -->
                        <div class="vacation_reserve_people">
                        <button type="button" data-quantity="plus" data-field="vacation_reserve_people">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                        </div>
                    </div>
                </form>
            </div> <!-- 메인 검색 끝 -->
        </div> <!-- 메인 이미지 끝 -->
    </section>
    <article class="container d-flex flex-column justify-content-center">
        <div class="mt-5 mb-5">
            <h2 class="mb-4">추천여행지</h2>
            <div class="d-lg-flex">
                <!-- <a href="#" title="이전"><i class='fas fa-angle-left'></i></a> -->
                    {% for vacation in vacation_imgs %}
                        {% if forloop.counter < 4 %}
                            {% if vacation %}
                                <a href="{% url 'vacation_detail' vacation.vacation_id_id %}"><div class="recommend_vaction col-lg-3 col-12 me-lg-3 mb-lg-2 mb-3" style="background-image: url('/media/{{ vacation.vacation_image_file_path }}');"></div><span class="recommend">{{ vacation.vacation_id }}</span></a>
                            {% else %}
                                <div class="recommend_vaction col-lg-3 col-12 me-lg-3 mb-lg-0 mb-3"></div>
                            {% endif %}
                        {% else %}
                            {% if vacation %}
                                <a href="{% url 'vacation_detail' vacation.vacation_id_id %}"><div class="recommend_vaction col-lg-3 col-12 mb-lg-2 mb-3" style="background-image: url('/media/{{ vacation.vacation_image_file_path }}');"></div><span class="recommend">{{ vacation.vacation_id }}</span></a>
                            {% else %}
                                <div class="recommend_vaction col-lg-3 col-12 mb-lg-0 mb-3"></div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                <!-- <a href="#" title="이전"><i class='fas fa-angle-right'></i></a> -->
            </div>
        </div>
        <div class="mt-5 mb-5">
            <h2 class="mb-4">추천숙소</h2>
            <div class="d-lg-flex">
                <!-- <a href="#" title="이전"><i class='fas fa-angle-left'></i></a> -->
                {% for hotel in hotel_imgs %}
                    {% if forloop.counter < 5 %}
                        {% if hotel %}
                            <a href="{% url 'hotel_detail' hotel.hotel_id_id %}"><div class="recommend_vaction  me-lg-3 mb-lg-2 mb-3" style="background-image: url('/media/{{ hotel.hotel_image_file_path }}');"></div><span class="recommend">{{ hotel.hotel_id }}</span></a>
                        {% else %}
                            <div class="recommend_vaction col-lg-3 col-12 me-lg-3 mb-lg-0 mb-3"></div>
                        {% endif %}
                    {% else %}
                        {% if hotel %}
                            <a href="{% url 'hotel_detail' hotel.hotel_id_id %}"><div class="recommend_vaction col-lg-3 col-12 mb-lg-2 mb-3" style="background-image: url('/media/{{ hotel.hotel_image_file_path }}');"></div><span class="recommend">{{ vacation.vacation_id }}</span></a>
                        {% else %}
                            <div class="recommend_vaction col-lg-3 col-12 mb-lg-0 mb-3"></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- <a href="#" title="이전"><i class='fas fa-angle-right'></i></a> -->
            </div>
        </div>
    </article> 
{% endblock %}