{% extends "base.html"%}
{% load static %}

{% block extrahead %}
<link href="{% static 'bs/css/user_create.css' %}" rel="stylesheet">
{% endblock %}
{% block contents %}
<div class="container d-flex flex-column join">
    <h1 class="mb-4"><a href="#">Trip</a></h1>
    <form method='POST' action="." class="col-lg-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="memberNm" class="mb-1">이름</label>
            <input type="text" class="form-control" id="memberNm" name="memberNm">
            <p id="errorMsgNm" class="errorMsg"></p>
        </div>
        <div class="form-group">
            <label for="id" class="mb-1">아이디</label>
            <input type="text" class="form-control" id="id" name="id">
            <p id="errorMsgId" class="errorMsg"></p>
        </div>
        <div class="form-group">
            <label for="pw" class="mb-1">비밀번호</label>
            <input type="password" class="form-control" id="pw" name="pw">
            <p id="errorMsgPw" class="errorMsg"></p>
        </div>
        <div class="form-group">
            <label for="pwCheck" class="mb-1">비밀번호 재확인</label>
            <input type="password" class="form-control" id="pwCheck" name="pwCheck">
            <p id="errorMsgPwCheck" class="errorMsg"></p>
        </div>
        <div class="form-group">
            <label for="phonenum" class="mb-1">전화번호</label>
            <input type="text" class="form-control" id="phonenum" name="phonenum">
            <p id="errorMsgPhonenum" class="errorMsg"></p>
        </div>
        <div class="form-group">
            <label for="email" class="mb-1">이메일</label>
            <input type="text" class="form-control" id="email" name="email">
            <p id="errorMsgEmail" class="errorMsg"></p>
        </div>

        <input type="submit" class="btn col-12 mt-3" id="joinCheck" value="가입하기">
    </form>
</div>
{% endblock %}