{% extends "base.html" %}
{% load static %}

{% block extrahead %}

<link href="{% static 'bs/css/reserve.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}여행지 예약{% endblock %}
{% block contents %}
{% block script %}
<script src="{% static 'bs/js/reserve.js' %}"></script>
<script src="{% static 'bs/js/vacation_detail.js' %}"></script>
{% endblock %}


<div class="container">
    <h3 class="reserve_title">예약 > 여행지 예약</h3>

    <section class="reservation">
        <div class="form_box">
            <form name="vacation_reserve" class="reserve" action="." method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>예약자 이름</label>
                    <input class="form-control" id="reserve_name" name="reserve_name" type="text" value="">
                </div>
                <div class="form-group">
                    <label>이용 날짜</label>
                    <!-- <input class="form-control" id="vacation_reserve_date" name="vacation_reserve_date" type="text" value="{{vacation_reserve_date}}"> -->
                    <div>
                        <input type="text" class="form-control vacation_reserve_date"
                            value="{{vacation_reserve_date}}" name="end_date" readonly>
                        <button type="button" onclick="vacation_get_date()" id="date_change"> 날짜변경</button>

                        <!-- <div class="vacation_date_pick" id="vacation_date_pick">
                            <div class="input-daterange reserve_date">
                                <input type="text" name="daterange" id="datepicker" readonly />
                                <input type="button" value="적용" name="reserve_date_choice" onclick="change_date()">
                            </div>
                        </div> -->
                        <div class="vacation_date_pick" id="vacation_date_pick">
                            <div class="d-flex justify-content-center">
                                <div class="input-daterange reserve_date"><input type="text" name="va_daterange" id="datepicker" readonly /> 
                                <input type="button" value="적용" name="reserve_date_choice">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label>인원 및 수량</label>

                    <div class="vacation_peopleNum">

                        </button>
                        <div class="d-flex">
                            <div>
                                <button type="button" id="minus" class="plus-minus-btn btn_left"><i
                                        class="fa fa-minus"></i></button>
                            </div>
                            <input type="number" name="peopleNum" id="peopleNum" value="{{reserve_people}}" readonly>
                            <div>
                                <button type="button" id="plus" class="plus-minus-btn btn_right"><i
                                        class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <!-- <input class="form-control" id="reserve_peopleNum" name="reserve_peopleNum" type="int" value=""> -->
                </div>
                <div class="form-group">
                    <label>휴대폰 번호</label>
                    <input class="form-control" id="phone_num" name="phone_num" type="text" value="">
                    <input type="button" class="auth_btn" id="auth_btn" value="인증번호 전송">
                    <span id="error_phone"></span>
                    <div class="phone_confirm form-group">
                        <input class="form-control confirm_box" id="confirm_box" type="text" placeholder="인증번호를 입력하세요">
                        <input type="button" class="confirm_btn" id="confirm_btn" value="인증번호 확인">
                    </div>
                </div>
                <div class="provision">
                    <label>이용약관</label>
                    <div><input type="checkbox" id="all_agree"><span class="all_agree"> 전체동의</span></div>
                    <div><input type="checkbox" class="reserve_check"><a href="#"> 개인정보 수집 및 이용 동의 </a><span
                            class="important">(필수)</span></div>
                    <div><input type="checkbox" class="reserve_check"><a href="#"> 개인정보 제 3자 제공 동의 </a><span
                            class="important">(필수)</span></div>
                    <div><input type="checkbox" class="reserve_check"><a href="#"> 만 14세 이상 확인 </a><span
                            class="important">(필수)</span></div>
                </div>
            </form>
        </div>

        <div class="reserve_confirm">
            <label class="reserve_index">여행지 이름</label>
            <label>{{ place_name }}</label>
            <label class="reserve_index">이용날짜</label>
            <label class="reserve_date hotel_detail_reserve_checkout">{{ vacation_reserve_date }}</label>
            <label class="reserve_index">인원 및 수량</label>
            <label><span id="total_people">{{ reserve_people }}</span> <span>인</span></label>
            <hr>
            <div class="purchase_container">
                <label>결제금액</label>
                <label id="total_price">{{ show_price }}</label>
                <label id="price">{{ vacation_price }}</label>
            </div>
            <input class="purchase_btn" id="purchase_btn" type="button" value="결제하기">
        </div>

    </section>
</div>
{% endblock %}