{% extends "base.html" %}
{% load static %}


{% block extrahead %}
<link href="{% static 'bs/css/user_mypage.css' %}" rel="stylesheet">
<link href="{% static 'bs/css/hotel_regist.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}여행지 등록{% endblock %}

{% block contents %}
{% block script %}
<script src="{% static 'bs/js/admin_vacation.js' %}"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fcba78034b5a60b2b8f8d5dc4dcd572a&libraries=services"></script>
{% endblock%}
<i class="fa fa-bars"></i>

<div id="side_nav" class="side_nav">
    <span class="nav_close">&times;</span>
    <div class="side_menu" id="user_profile">{{ user.user_id }}</div>
    <a class="side_menu" href="{% url 'admin_info' %}">회원정보</a>
    <a class="side_menu" href="{% url 'admin_pw_change' %}">비밀번호 변경</a>
    <a class="side_menu" href="{% url 'admin_hotel' %}">호텔관리</a>
    <a class="side_menu" id=self href="{% url 'admin_vacation' %}">여행지 관리</a>
    <a class="side_menu" href="{% url 'admin_manage' %}">예약관리</a>
</div>


<div class="con2">
    <div class="contents">
        <h5 id="title">마이페이지 > 여행지등록</h5>
        <form action="{% url 'vacation_register' %}" class="regist_form" method="POST" name="vacation_regist_form" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <a id="adjust_btn" type="button" href="{% url 'vacation_update'%}">정보수정</a> -->
            <input id="register_btn" type="submit" value="정보등록">
            <input id="cancel_btn" type="button" value="등록취소">
            <label class="index_title">기본정보</label>
            <div class="form-group">
                <label>여행지 이름</label>
                <input class="form-control" type="text" name="vacation_name" required>
            </div>
            <!-- <label>시군명</label> -->
            <input id="SIGUN_NM" class="form-control" type="hidden" name="SIGUN_NM" required>
            <div class="form-group">
                <label>도로명주소</label><br>
                <input class="address_input" type="text" id="sample4_postcode" placeholder="우편번호" readonly>
                <input class="address_input" type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                <input class="address_input" type="text" name="vacation_adress" id="sample4_roadAddress" placeholder="도로명주소" readonly>
                <input class="address_input_add" type="text" id="sample4_extraAddress" placeholder="추가주소" readonly>
                <input name="lat" id="lat" type="hidden">
                <input name="lng" id="lng" type="hidden">
            </div>
            <div class="form-group">
                <label>전화번호</label>
                <input class="form-control" type="text" name="phoneNum">
            </div>
            <div class="form-group">
                <label>여행지가격</label>
                <input class="form-control" type="text" name="vacation_price">
            </div>
            <div class="form-group">
                <label>요약설명</label>
                <textarea class="form-control" name="context"></textarea>
            </div>

            <label class="index_title">대표사진 등록</label>
            <div class="form-group">
                <input class="form-control" id="file_title" type="text" name="fileTitle" placeholder="Enter a title">
                <input class="file_select_btn" type="file" name="uploadedFile">
            </div>
        </form>
    </div>
</div>
{% endblock %}